body{
  background: url('../img/table.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#displayInfo{
  color: #66A530;
  font-family: "Futura", sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 20px;
}

#input{
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.myBtn{
  background-color: #66A530;
  color: #fff;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
}
.myBtn:hover{
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 992px) {
  #displayInfo{
    font-size: 21px;
    margin-top: 190px;
  }
}
@media only screen and (max-width: 768px) {

}
